
#video{
  text-align: center;
}

h3{
  font-size: 18px;
  }

h2 {
  color:#228B22;
  font-size:25px;
  border: 2px double #228B22;
}

h1{
  color:#006400;
  font-size: 35px;
  text-align: center;
  border-bottom: 2px dotted #228B22;
}

body{
  background-color:#90EE90;
}

div {
  text-align: center;
}

li {
  color: #228B22;
  font-size: 16px;
  text-align: left;
}
